.search {
    position: absolute;
    display: flex;
    right: 0;
    &_form {
        width: 0;
        transition: all 0.3s ease-in;
        margin-right: 0.5rem;
        input {
            width: 0;
            padding: 0;
            margin: 0.3rem 0;
            box-sizing: border-box;
            border-radius: 0.25rem;
        }
        &_active {
            width: 200px;
            input {
                width: 100%;
                padding: 0.5rem;
                margin: 0.3rem 0;
                border: 1px solid #ccc;
            }
        }
    }
    img {
        cursor: pointer;
    }
}