.post_list {
    min-height: 600px;
    padding-top: 3rem;
    padding-bottom: 10rem;
    &_flex {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    @media (max-width: 767px) {
        padding-top: 2.375rem;
    }
}