.header {
    height: 81.5px;
    &_wrapper {
        display: flex;
        height: 81.5px;
        align-items: center;
        justify-content: center;
        @media (max-width: 1023px) {
            height: 24px;
            align-items: center;
        }
    }
    @media (max-width: 1023px) {
        margin-top: 2rem;
        height: 24px;
    }
}