html {
	font-family: Roboto, sans-serif;
}

.container {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		width: 960px;
	}
	@media (max-width: 1023px) {
		width: 720px;
	}
}

